header{background:#5b89a3;}
input.submit, input.submit-advanced, .button, #webform-client-form-5 input.form-submit, #edit-submit{background:#ff8c68;}
a.secondary-button, .notification-listing{background:#5b89a3;}
body{font-size: 12px;}
.sf-menu a, .sf-menu a:visited{color: #ffffff;font-family: 'Ubuntu'; font-style: normal; font-weight: 300;;font-size: 15px;}
h1{color: #737373;font-family: 'Ubuntu'; font-style: normal; font-weight: 300;;font-size: 22px;}
h2{color: #737373;font-family: 'Ubuntu'; font-style: normal; font-weight: 300;;font-size: 15px;}
h3{color: #737373;font-family: 'Ubuntu'; font-style: normal; font-weight: 300;;font-size: 16px;}
h4{color: #737373;font-size: 16px;}
h5{color: #737373;font-size: 15px;}
a{color: #737373;}
